---
layout: default
---
<div class="jumbotron">
  <div class="container">
    Max Woolf 
    <h3 class="tagline">CMU alum, software QA engineer in San Francisco</h3>
  </div>
</div>
<div class="blog-index">
  {% assign index = true %}
  {% for post in paginator.posts %}
  {% assign content = post.content %}
    <article>
      {% include article.html %}
    </article>
    {% unless post == paginator.posts.last %}
    <hr>
    {% endunless %}
  {% endfor %}
  <div class="pagination">
    {% if paginator.next_page %}
    <a class="prev badge" href="{{paginator.next_page}}"><i class="icon-arrow-left"></i> Older</a>
    {% endif %}

    {% if paginator.previous_page %}
    <a class="next badge" href="{{paginator.previous_page}}">Newer <i class="icon-arrow-right"></i></a>
    {% endif %}
  </div>
</div>

